@model Nop.Core.Domain.Catalog.Product

<div id="quickView" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Quick View</h3>
    </div>
    <div class="modal-body">
        <div class="pull-left productDetailContainer noMarginLeft">
            <div class=" span5 noMarginLeft pull-left productImageSection">
                <div class="productImage">

                </div>
            </div>
            <div class="span6 noMarginLeft pull-right productDetailSecion">
                <div class="borderBottom"> <h3>Apple iPhone5S</h3><small>Model#A</small></div>
                <div class="span4 noMarginLeft ">
                    <div class="pull-left">
                        <span class="icon-star yellow"></span>
                        <span class="icon-star yellow"></span>
                        <span class="icon-star yellow"></span>
                        <span class="icon-star yellow"></span>
                        <span class="icon-star gray"></span>
                    </div>
                    <div class="reviewSection pull-left">

                        <div class="navbar ratings">
                            <ul class="nav">
                                <li><a>20 ratings</a></li>
                                <li class="separator">|</li>
                                <li><a>20 ratings</a></li>
                                <li class="separator">|</li>
                                <li><a>20 ratings</a></li>
                            </ul>
                        </div>

                        <table class="table brandDeatails span3 noMarginLeft">
                            <tbody>
                                <tr>
                                    <td>
                                        <ul>
                                            <li><i class="icon-chevron-right"></i><span class="leftDetail">Brand :<span class="rightDetail">Apple</span></span> </li>
                                            <li><i class="icon-chevron-right"></i><span class="leftDetail">Brand :<span class="rightDetail">Apple</span></span> </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li><i class="icon-chevron-right"></i><span class="leftDetail">Brand :<span class="rightDetail">Apple</span></span> </li>
                                            <li><i class="icon-chevron-right"></i><span class="leftDetail">Brand :<span class="rightDetail">Apple</span></span> </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="stockDetail pull-left"><span class="flag"></span>In stock 12pc available</div>
                        <table class="pull-left span3 noMarginLeft noCollapse">
                            <tbody>
                                <tr>
                                    <td>Color options :</td>
                                    <td class="borderThin">white</td>
                                    <td class="borderThin">Silver</td>
                                    <td class="borderThin">Space Gray</td>
                                </tr>
                                <tr>
                                    <td>Storage Capacity :</td>
                                    <td class="borderThin">16GB</td>
                                    <td class="borderThin">32GB</td>
                                    <td class="borderThin">64GB</td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="pull-left span2 noMarginLeft">
                            <span><span class="actualPrice">4,300.00 AED -</span>  <span class="offPrice">30%<sup>OFF</sup></span> </span> <span class="sellingPrice">3,300.00 AED</span>
                        </div>

                    </div>
                </div>
                <div class="span2 noMarginLeft pull-right rightDetailSection">
                    <div class="warrantySection pull-left">
                        <div class="warrantySectionTop">1 year Apple warranty and Free transit insurance</div>
                        <div class="warrantySectionContent">
                            <div class="pull-left">
                                <span class="rightMark"></span><span class="redText">Cash</span>
                                <span class="grayText">On Delivery Orders</span>
                            </div>
                        </div>
                        <div class="warrantySectionContent">
                            <div class="pull-left">
                                <span class="rightMark"></span><span class="redText">Free</span>
                                <span class="grayText">Shipping</span>
                            </div>
                        </div>
                        <div class="warrantySectionContent">
                            <div class="pull-left">
                                <span class="rightMark"></span><span class="redText">12Days</span>
                                <span class="grayText">Return Policy</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6 noMarginLeft buyNowSection">
                    Qty :<input type="text" class="quantityBox" placeholder="1">

                    <button class="btn BuyNow btn-large" type="button">Buy Now</button>

                </div>
                <div class="span6 noMarginLeft addToSection">
                    <ul>
                        <li><span class="addToWishListIcon1"></span><a>Add to my wish list</a> </li>
                        <li><span class="addToWishListIcon2"></span><a>Add to my wish list</a> </li>
                        <li><span class="addToWishListIcon3"></span><a>Add to my wish list</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>