.top-bar {
padding: 0;
background: #464646;
border-bottom: 1px solid #222;
line-height: 28px;
}
.phone{ background: url('../images/Basic_image/image-sprites.png') -17px -10px no-repeat; height: 21px; width: 14px; display: inline-block; vertical-align: middle;}
.navbar-inverse {
    background: url('../images/Basic_image/new.png') repeat-x; z-index: 12; border-radius:0; border:0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    border-bottom: 2px #c20000 solid;
}
.navbar-inverse .navbar-nav>li>a {
    color: #222222; text-transform: uppercase; font-size: 12px;  padding:5px 12px 3px 12px;  font-family: 'Roboto', sans-serif; font-weight: 500; border:1px transparent solid; position: relative; top:1px;
}
#header .navbar-inverse .navbar-nav > li > a:hover, #header .navbar-inverse .navbar-nav > li > a:focus{ background-color: #ffffff; border-bottom: 0px #fff solid;
    color: #000;  border-top: 1px #cccccc solid; border-right: 1px #cccccc solid; border-left: 1px #cccccc solid;
-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);-moz-box-shadow:0 0 8px rgba(0,0,0,0.1);box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-transition:left .2s ease-out,width .2s ease-out;-moz-transition:left .2s ease-out,width .2s ease-out;-o-transition:left .2s ease-out,width .2s ease-out;transition:left .2s ease-out,width .2s ease-out

  }
    .subscri{ background: #c20000;}
    .sub_msg{margin-right:5px; background: url('../images/Basic_image/image-sprites.png') 0 -173px no-repeat; width: 44px; height: 31px; display: inline-block; vertical-align: middle;}
    .subcri-butt{ background: #880000  url('../images/Basic_image/arrow1.png') 90% no-repeat;; border:1px #e80000 solid; color: #fff; padding:8px 28px 8px 15px;}
    /*.butt_arw{background: url('../images/Basic_image/image-sprites.png') -60px -179px no-repeat; width: 10px; height: 16px; display: inline-block; position: absolute; top:30%; right: -26px;}
    .butt_arw{background: url('../images/Basic_image/image-sprites.png') -60px -179px no-repeat; width: 10px; height: 16px; display: inline-block; position: absolute; top:30%; right: -26px;}*/
    .carousel-inner ul.thumbnails {margin: 0; padding:0;}
    .carousel-inner .thumbnail{ margin-bottom: 0; border-radius: 0;
    background: rgba(204,204,204,1);
background: -moz-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(235,235,235,1) 45%, rgba(235,235,235,1) 51%, rgba(204,204,204,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,204,204,1)), color-stop(45%, rgba(235,235,235,1)), color-stop(51%, rgba(235,235,235,1)), color-stop(100%, rgba(204,204,204,1)));
background: -webkit-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(235,235,235,1) 45%, rgba(235,235,235,1) 51%, rgba(204,204,204,1) 100%);
background: -o-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(235,235,235,1) 45%, rgba(235,235,235,1) 51%, rgba(204,204,204,1) 100%);
background: -ms-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(235,235,235,1) 45%, rgba(235,235,235,1) 51%, rgba(204,204,204,1) 100%);
background: linear-gradient(to right, rgba(204,204,204,1) 0%, rgba(235,235,235,1) 45%, rgba(235,235,235,1) 51%, rgba(204,204,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc', GradientType=1 );

    }
    .thumbnail_slider{position: relative; width: 285px; margin: 30px 0 25px 0;}
    .thumbnail_slider h1{ text-align: center; background:url('../images/Basic_image/red-line.png') center repeat-x; margin: 0; font-size: 20px;}
    .thumbnail_slider span{ background: #ebebeb; padding: 0px 12px; color: #464646;  font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 18px;}
    .thumb_slider a.carousel-control.left { text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6); background:#ebebeb url('../images/Basic_image/image-sprites.png') -18px -226px no-repeat; height: 16px; width: 22px;
    font-size: 0; opacity: 1; top: 4px;}
    .thumb_slider a.carousel-control.right { text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6); background:#ebebeb url('../images/Basic_image/image-sprites.png') -48px -226px no-repeat; height: 16px; width: 22px;
    font-size: 0; opacity: 1; top: 4px;}
    .thumbnail_slider_sel{position: relative; width: 275px; margin: 30px 0 25px 0;}
    .thumbnail_slider_sel h1{ text-align: center; background:url('../images/Basic_image/red-line.png') center repeat-x; margin: 0; font-size: 20px;}
    .thumbnail_slider_sel span{ background: #fff; padding: 0px 12px;  font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 18px; color: #464646;}
    .thumbnail_slider_sel a.carousel-control.left { text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6); background:#ffffff url('../images/Basic_image/image-sprites.png') -18px -226px no-repeat; height: 16px; width: 22px;
    font-size: 0; opacity: 1; top: 4px;}
    .thumbnail_slider_sel a.carousel-control.right { text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6); background:#ffffff url('../images/Basic_image/image-sprites.png') -48px -226px no-repeat; height: 16px; width: 22px;
    font-size: 0; opacity: 1; top: 4px;}

.detail_cart{ background: #848484;
display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.carousel-inner .main_thumb:hover .detail_cart{     position: relative;
    height: 28px;
    opacity: 1;
    overflow: visible;}
.light_dark{ background:url('../images/Basic_image/Esybuy-products-name.png') repeat; color: #ffffff; /*height: 45px;*/ padding: 5px 13px; text-align: center; font-size: 12px;  font-family: 'Roboto', sans-serif; font-weight: 500;  }
.thumb_offer{ background:url('../images/Basic_image/Esybuy-products-price.png') repeat; color: #f87272; height: 30px; padding: 5px 13px; text-align: center; font-size: 12px;  font-family: 'Roboto', sans-serif; font-weight: 500; 
}
.detail_butt{ background: transparent; border-top:1px #fff solid; border-right:1px #fff solid;  border-left:0px;  border-bottom:0px; width: 50%; float: left; line-height: 28px; color: #fff; font-size: 11px;  font-family: 'Roboto', sans-serif; font-weight: 300; }
.add_butt{ background: transparent; border-top:1px #fff solid; border-right:0px;  border-left:0px;  border-bottom:0px; width: 50%; float: left; color: #fff; line-height: 28px; font-size: 11px;  font-family: 'Roboto', sans-serif; font-weight: 300; }
.detail_butt:hover{ color: ##f87272;}.add_butt:hover{ color: ##f87272;}
.thumb_slider{ background: #ebebeb;}.crazy a:hover{ color: #fff;}
.women_shop:hover{width: 527px; color: #fff; }
.men_shop:hover{width: 482px; color: #fff;}
.men_shop{ background: url('../images/Basic_image/shop-icon-men.png') left no-repeat; color: #ffffff; position: absolute; font-size: 24px; top: 70%; right: 50%;  font-family: 'Roboto', sans-serif; font-weight: 900; text-align: right; 
 -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out; 
    transition: width 1s ease-in-out;  width: 255px; 
}
.women_shop{ background: url('../images/Basic_image/shop-icon-women.png') right no-repeat; ; color: #ffffff; position: absolute; font-size: 24px; top: 70%; left: 50%;  font-family: 'Roboto', sans-serif; font-weight: 900; text-align: left; 
 -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out; 
    transition: width 1s ease-out;  width: 255px; 
}
.foot_menu li a{ color: #c5c5c5; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 11px;}
.men_shop span{background:#004a80; display: inline-block; padding: 3px 18px; width: 255px;}
.women_shop span{background: #a10b2e; display: inline-block; padding: 3px 18px; width: 255px; float: left;}


    .footer_top{ background: #2e2e2e;}
    .footer_top h1{ color: #fff;  font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 16px;}
    .foot_menu{padding:0;}
    .foot_menu li{}
    .foot_bottom{background: #181818; text-align: center;}
    .foot_bottom h1{margin: 0; color: #8e8d8d; font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 18px; text-transform: uppercase; padding:30px 0 20px;}
    .foot_bottom p{margin: 0; color: #8e8d8d; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 11px; font-size: 12px; line-height: 26px;}
    .foot_Pay_social .row{ margin: 0;}
    .Pay_method h1{margin: 0; color: #8e8d8d; text-align: left; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 14px; text-transform: uppercase; padding:30px 0 20px;}
    .social_net h1{margin: 0; color: #8e8d8d; text-align:right; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 14px; text-transform: uppercase; padding:30px 0 20px;}


.featured_items {padding: 30px 0;}
.featured_items ul.thumbnails {margin: 0; padding:0;}
    .featured_items .thumbnail{ margin-bottom: 0; border-radius: 0; border:0;}
    .feature_li li .main_thumb .thumbnail{ width: 214px; height: 274px;}
    .featured_items .feature_li li .main_thumb .caption{bottom: 0; }
    .featured_items .feature_li li .main_thumb{height: 365px;}
    .featured_items .col-sm-3 .main_thumb {
position: relative;
height: 286px;
overflow: hidden;
}

.feature_li{padding: 0; margin: 0;}
.feature_li li{float: left; width: 235px; margin-bottom: 20px!important; border:1px #fff solid;}
.feature_li li:hover{border:1px #e3e3e3 dashed;}
.feature_li li:nth-child(3n+1){ margin:0 0 0 15px;}
.feature_li li:nth-child(3n+2){ margin:0 9.3%;}
.featured_items .main_thumb:hover .detail_cart{     position: relative;
    height: 28px;
    opacity: 1;
    overflow: visible;}
.feature_li li:hover .list_light_dark{background: #bebcbd; color: #000;border-bottom:0px #e3e3e3 dashed;}
.feature_li li:hover .thumb_offer{background: #e8e8e8; color: #fff;border-bottom:0px #e3e3e3 dashed;}
    .list_light_dark {
border-top:1px #e3e3e3 dashed;
border-bottom:1px #e3e3e3 dashed;
color: #383737;
padding: 8px 13px;
text-align: center;
font-size: 11px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}
.thumb_offer {
background: none;
border-bottom:1px #e3e3e3 dashed;
color: #f87272;
height: 30px;
padding: 5px 13px;
text-align: center;
font-size: 12px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
}
.featured_items .main_thumb:hover .detail_list_cart {
position: relative;
height: 24px;
opacity: 1;
overflow: visible;
transition: all 300ms;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
}
.detail_list_cart{ background: #ffffff;
display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.add_cart_icon{background: url('../images/Basic_image/image-sprites.png') -89px -179px no-repeat; display: inline-block; width: 15px;
height: 17px; vertical-align: bottom; border:0; margin-right: 7px;}
.list_cart{padding:0;}
.list_cart li{width: 33%; float: left; margin: 0!important; border-right: 1px dashed #ccc;}
.add_it_icon{background: url('../images/Basic_image/image-sprites.png') -59px -77px no-repeat; display: inline-block; width: 15px;
height: 21px; vertical-align: bottom; border:0; margin-right: 7px;}
.save_it_icon{background: url('../images/Basic_image/image-sprites.png') -96px -77px no-repeat; display: inline-block; width: 15px;
height: 21px; vertical-align: bottom; border:0; margin-right: 7px;}
.share_it_icon{background: url('../images/Basic_image/image-sprites.png') -130px -77px no-repeat; display: inline-block; width: 15px;
height: 21px; vertical-align: bottom; border:0; margin-right: 7px;}
.feature_li .list_cart li:hover{border: 1px transparent solid;  border-right: 1px dashed #ccc;}
.feature_li li:hover .list_thumb_offer{background: #e8e8e8; color: #000;border-bottom:0px #e3e3e3 dashed;}
.list_thumb_offer {
background: none;
border-bottom:1px #e3e3e3 dashed;
color: #000 ;
height: 30px;
padding: 5px 13px;
text-align: center;
font-size: 12px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
}
.list_thumb_offer s{color:#535353;}
.list_thumb_offer span{color: #f92c2b; font-size: 12px;
font-family: 'Roboto', sans-serif;
font-weight: 700;}
.feature_li.four_items li:nth-child(3n+2){ margin:0 1%;}
.feature_li.four_items li{width: 23.5%;}
.feature_li.four_items li .list_cart li{width:33%;}
.listview{position: relative;}
.listview span{color: #ccc; font-size: 12px; line-height: 10px; position: absolute; right: 55px; top: 17px;}
.three_view{background: url('../images/Basic_image/image-sprites.png') -221px -10px no-repeat; display: inline-block; width: 19px;height: 13px;
border:0; position: absolute; top:15px; right: 28px;}
.four_view{background: url('../images/Basic_image/image-sprites.png') -254px -10px no-repeat; display: inline-block; width: 19px;height: 13px;
border:0; position: absolute; top:15px; right: 0;}
.three_view:hover, .three_view.selected{background: url('../images/Basic_image/image-sprites.png') -221px -31px no-repeat; display: inline-block; width: 19px;height: 13px; outline: none;}
.four_view:hover, .four_view.selected{background: url('../images/Basic_image/image-sprites.png') -254px -31px no-repeat; display: inline-block; width: 19px;height: 13px; outline: none;}
.clear{clear: both; overflow: hidden; height: 0;}
.no-product{ text-align: center; background: url('../images/Basic_image/horizontal-line.png') center repeat-x;} 
.no-product span{ background:#ffffff; padding: 5px 13px; color: #2e2e2e; font-size: 12px; font-weight: 700;}
.breadcrumb li a, .breadcrumb li.active{ color: #464646; font-size: 11px;}
.featured_items .feature_li.four_items li .main_thumb { height: 310px;}
.feature_li .thumbnail>img, .feature_li .thumbnail a>img{ width: 214px; height: 274px;  -webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;-o-transition:all .5s ease-out;transition:all .5s ease-out}
.feature_li.four_items .thumbnail>img, .feature_li.four_items .thumbnail a>img{ height: 208px; width: 118px; -webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;-o-transition:all .5s ease-out;transition:all .5s ease-out}
.detail_list_cart .list_cart li:last-child{ border-right: 0;}

.value {
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -20px;
  width: 40px;
  text-align: center;
  display: block;
  
  /* optional */
  
  font-weight: normal;
  font-family: Verdana,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}

.price-range-both.value {
  width: 100px;
  margin: 0 0 0 -50px;
  top: 26px;
}

.price-range-both {
  display: none; 
}

.value i {
  font-style: normal;
}