.aboutUs .mainContentBottom .productDisplayBlock p
{
	color: #000;
	font-size: 12px;
}
.aboutUs .mainContentBottom .productDisplayBlock h5,.aboutUs .mainContentBottom .productDisplayBlock h5 a
{
	color: #000;
	font-size: 14px;
	margin: 14px 0;
}
.aboutUs .mainContentBottom .productDisplayBlock h5:first-child
{
	margin-top: 0;
}
.aboutUs .mainContentBottom .productDisplayBlock ul
{
	margin: 0;
}
.aboutUs .mainContentBottom .productDisplayBlock li
{
	list-style-type: none;
}
.aboutUs .mainBody .mainContentBottom .productHeading
{
	margin-bottom: 18px;
	margin-top: 0;
}
.aboutUs .sideBarMargin
{
	margin-top: 8px;
}
.aboutUs .mainBody .container .banner
{
	margin: 6px 5px 5px 0;
}
